In [1]:
import numpy as np
import pandas as pd
import re
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import TfidfVectorizer

In [20]:
dataFile = 'data_files/u.data'
data = pd.read_csv(dataFile, sep="\t", header=None, names=['userId','itemId','rating','timestamp'])

movie_col_names = ["movie id", "movie title", "release date", "video release date", "IMDb URL", "unknown", "Action", "Adventure", "Animation", "Children's",
"Comedy", "Crime", "Documentary", "Drama", "Fantasy", "Film-Noir","Horror", "Musical", " Mystery", "Romance", "Sci-Fi", "Thriller",
"War","Western"]
movieInfoFile = 'data_files/u.item'
movieInfo = pd.read_csv(movieInfoFile, sep="|", index_col=False,
                  names = movie_col_names)

tweet_file = 'data_files/movieTweets_with_SA.csv'
movieTweets = pd.read_csv(tweet_file)

In [21]:
movieTweets.drop(['Unnamed: 0'], axis=1, inplace=True)
movieTweets

,movie_title,hashtags,Tweets
0,Toy Story (1995),#ToyStory,The little monsters in the anime story are so...
1,GoldenEye (1995),#GoldenEye,#GoldenEye Multiplayer Daily Totals \n\n0 Use...
2,Four Rooms (1995),#FourRooms,@paperbuddha #FourRooms is one of it ðŸ¤˜
3,Get Shorty (1995),#GetShorty,#Mini not quite #quirky enough? How about a #...
4,Copycat (1995),#Copycat,"â€œHey, Ernie! You think thereâ€™s any truth to ..."
...,...,...,...
1677,Mat' i syn (1997),#Mat'isyn,NaN
1678,B. Monkey (1998),#B.Monkey,"@spsrei his airspeed is awful, his hurtbox is..."
1679,Sliding Doors (1998),#SlidingDoors,Thanks Rajamani sir for offering us the order...
1680,You So Crazy (1994),#YouSoCrazy,NaN
1681,Scream of Stone (Schrei aus Stein) (1991),#ScreamofStone(SchreiausStein),NaN

In [3]:
genre = []
for index, row in movieInfo.iterrows():
    tmp = []
    n = 0
    for d in row:
        if d == 1:
            tmp.append(movie_col_names[n])
        n=n+1
    if 'movie id' in tmp:
        tmp.remove('movie id')
    genre.append('|'.join(tmp))

In [4]:
movieInfo.insert(loc=5, column='genres', value=genre)
movieInfo.drop([ "video release date", "IMDb URL", "unknown", "Action", "Adventure", "Animation", "Children's",
"Comedy", "Crime", "Documentary", "Drama", "Fantasy", "Film-Noir","Horror", "Musical", " Mystery", "Romance", "Sci-Fi", "Thriller",
"War","Western"], axis=1, inplace=True)
movieInfo

,movie id,movie title,release date,genres
0,1,Toy Story (1995),01-Jan-1995,Animation|Children's|Comedy
1,2,GoldenEye (1995),01-Jan-1995,Action|Adventure|Thriller
2,3,Four Rooms (1995),01-Jan-1995,Thriller
3,4,Get Shorty (1995),01-Jan-1995,Action|Comedy|Drama
4,5,Copycat (1995),01-Jan-1995,Crime|Drama|Thriller
...,...,...,...,...
1677,1678,Mat' i syn (1997),06-Feb-1998,Drama
1678,1679,B. Monkey (1998),06-Feb-1998,Romance|Thriller
1679,1680,Sliding Doors (1998),01-Jan-1998,Drama|Romance
1680,1681,You So Crazy (1994),01-Jan-1994,Comedy
1681,1682,Scream of Stone (Schrei aus Stein) (1991),08-Mar-1996,Drama

In [ ]:
#Pivot Table(This creates a matrix of users and movie_ratings)
ratings_matrix = ratings.pivot_table(index=['movie id'],columns=['user_id'],values='rating').reset_index(drop=True)
ratings_matrix.fillna( 0, inplace = True )

In [ ]:
# Split Data
def split_data(data, test_ratio):
    train_data, test_data = train_test_split(data, test_size = test_ratio, random_state=25)
    return train_data, test_data

n_users = movie_ratings.user_id.unique().shape[0]
n_items = movie_ratings.movie_id.unique().shape[0]

train, test = split_data(ratings_matrix, 0.2)

print(ratings_matrix.shape)
print(train.shape)
print(test.shape)